<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>tripplanner</title>
	<link
		href="https://fonts.googleapis.com/css2?&family=Roboto:wght@300;500;700&family=Roboto+Slab:wght@300;400;700;800&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<!-- TODO delete fontawesome after applying other icons -->
	<script src="https://kit.fontawesome.com/1aac26dbd0.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<!-- maybe delete? -->
		<header>
			<nav class="hnav">tripplanner</nav>
		</header>

		<main>
			<section class="plan">
				<h2>Your journey begins here</h2>
				<form class="plan__form">
					<div class="plan__fields">
						<div class="plan__field-01">
							<!-- <label for="city" class="plan__label">City</label> -->
							<input id="city" type="text" class="plan__input" name="city" placeholder="Where to (e.g. Tokyo)" required>
						</div>
						<div class="plan__field-02">
							<!-- <label for="start" class="plan__label">Start</label> -->
							<input type="date" id="start" class="plan__input" name="start" placeholder="Start" required>
						</div>
						<div class="plan__field-03">
							<!-- <label for="end" class="plan__label">End</label> -->
							<input type="date" id="end" class="plan__input" name="end" placeholder="End" required>
						</div>
						<div class="plan__field-04">
							<button id="submit" type="submit" class="btn plan__btn">Add a trip</button>
						</div>
					</div>
				</form>
			</section>
			<section class="trips">
				<div class="trips__message"></div>
				<ul class="trips__list"></ul>
			</section>
		</main>

		<footer>
			<nav class="fnav">
				<ul>
					<li><a class="link link--sns" href="mailto:emiri.begic@gmail.com"><i class="fas fa-envelope-square"></i></a>
					</li>
					<li><a class="link link--sns" href="https://github.com/emiribegic" target="_blank"><i
								class="fab fa-github-square"></i></a>
					</li>
					<li><a class="link link--sns" href="https://www.linkedin.com/in/emiribegic" target="_blank"><i
								class="fab fa-linkedin"></i></a></li>
					<li><a class="link link--sns" href="https://twitter.com/EmiliaLala6" target="_blank"><i
								class="fab fa-twitter-square"></i></a></li>
				</ul>
				<div class="copyright">© 2021</div>
			</nav>
		</footer>
	</div>
	<!-- <script>
		// Check that service workers are supported
		if ('serviceWorker' in navigator) {
			// Use the window load event to keep the page load performant
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script> -->
</body>

</html>