<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>tripplanner</title>
	<link
		href="https://fonts.googleapis.com/css2?&family=Roboto:wght@300;500;700&family=Roboto+Slab:wght@300;400;700;800&display=swap"
		rel="stylesheet">
	<script src="https://kit.fontawesome.com/1aac26dbd0.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<header>
			<h1>tripplanner</h1>
		</header>

		<main>
			<section class="plan">
				<h2 class="plan__heading">Plan and manage your trips smarter</h2>
				<form class="plan__form">
					<input id="city" type="text" name="city" class="plan__input plan__input-destination"
						placeholder="Where to (e.g. Paris, Tokyo, New York)">

					<label for="start" class="plan__label plan__label-start">Start:</label>
					<input type="date" id="start" name="start" class="plan__input plan__input-start" required>
					<label for="end" class="plan__label plan__label-end">End:</label>
					<input type="date" id="end" name="end" class="plan__input plan__input-end" required>

					<button id="submit" type="submit" class="btn plan__btn">Start planning</button>
				</form>
			</section>
			<section class="dest">
				<ul class="dest__list"></ul>
			</section>
		</main>

		<footer>
			<nav class="fnav">
				<ul>
					<li><a class="link link--sns" href="#"><i class="fab fa-linkedin"></i></a></li>
					<li><a class="link link--sns" href="https://github.com/emiribegic" target="_blank"><i
								class="fab fa-github-square"></i></a>
					</li>
					<li><a class="link link--sns" href="#"><i class="fab fa-instagram-square"></i></a></li>
					<li><a class="link link--sns" href="#"><i class="fab fa-facebook-square"></i></a></li>
				</ul>
				<div class="copyright">© 2021</div>
			</nav>
		</footer>
	</div>
	<!-- TODO Activate after refactoring sass -->
	<!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script> -->
</body>

</html>