// FONT
$base-font: 'Roboto Slab', serif;
$default-font: 300 1rem $base-font;
$header-font: 800 2.5rem $base-font;

// COLOR
$key-color: rgb(247, 125, 25);
$section-bg: rgba(238, 234, 234, 0.8);

// RESPONSIVE BREAKPOINTS
$bp-largest: 75rem; // 1200px
$bp-large: 62rem; // 992px
$bp-medium: 48rem; // 768px;
$bp-small: 30rem; // 480px;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font: $default-font;
	background: center / cover no-repeat url(../media/bgimg.jpg) fixed;
}

.container {
	// TODO check later if 90% is ok
	width: 90%;
	margin: 0 auto;
}

section {
	background: $section-bg;
}

ul {
	list-style: none;
}

.link {
	color: #000;
	text-decoration: none;

	&:hover {
		color: $key-color;
	}

	&:visited {
		text-decoration: none;
	}
}

// body {
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// 	min-height: 100vh;
// 	background: center / cover no-repeat url(../media/bgimg.jpg) fixed;
// }

// main {
// 	flex: 2;
// 	justify-content: center;
// 	text-align: center;
// 	margin: 1rem;
// 	font: $default-font;
// }

// p {
// 	margin: 1rem;
// 	text-decoration: underline;
// }

// section {
// 	max-width: 800px;
// 	margin: 1rem auto;
// 	background: $section-bg;

// 	h2 {
// 		font-size: 1.25rem;
// 		font-weight: 400;
// 		padding: 1rem 0;
// 	}
// }

// form {
// 	border: none;
// 	padding: 0 2rem 2rem;
// }

// input {
// 	padding: 5px 20px;
// 	width: 100%;
// 	margin: 10px 0;
// 	font: $default-font;

// 	&:hover {
// 		background: $key-color;
// 	}
// }

// #submit {
// 	width: 100%;
// 	font: $default-font;

// 	&:hover {
// 		background: $key-color;
// 	}
// }

// #trip {
// 	text-align: center;
// 	padding: 2rem;

// 	#dest_img {
// 		img {
// 			width: 100%;
// 			max-height: 500px;
// 			object-fit: cover;
// 		}
// 	}

// 	#destination {
// 		h3 {
// 			font-size: 1.5rem;
// 			font-weight: 400;
// 		}
// 	}
// }

// #card {
// 	margin: 1rem 0;
// }

// a:link,
// a:visited {
// 	color: #000;
// 	text-decoration: none;
// }

// a:hover {
// 	color: $key-color;
// }

// /* ----- Screen Sizes ----- */
// /* Medium Screens */
// @media (min-width: 600px) and (max-width: 900px) {
// 	form {
// 		border: none;
// 	}

// 	input {
// 		padding: 5px 20px;
// 		width: 100%;
// 		margin: 10px 0;
// 		font: $default-font;
// 	}

// 	p {
// 		text-decoration: none;
// 	}

// 	#trip {
// 		padding: 2rem;

// 		#dest_img {
// 			img {
// 				width: 100%;
// 				max-height: 500px;
// 				object-fit: cover;
// 			}
// 		}

// 		#dest_countdown {
// 			display: flex;
// 			justify-content: center;
// 		}

// 		#destination {
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;

// 			h3 {
// 				font-size: 1.5rem;
// 				font-weight: 400;
// 			}
// 		}

// 		#dest_date {
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;
// 		}

// 		#forecast {
// 			display: flex;
// 			justify-content: flex-start;
// 		}

// 		#dest_weather {
// 			display: flex;
// 			flex-flow: row nowrap;
// 			justify-content: space-between;
// 		}
// 	}
// }

// /* Large Screens */
// @media (min-width: 901px) {
// 	main {
// 		display: grid;
// 		grid-template-columns: repeat(1, 1fr);
// 		grid-auto-rows: minmax(100px, auto);
// 		align-items: center;
// 		gap: 1em;
// 	}

// 	p {
// 		text-decoration: none;
// 	}

// 	section {
// 		max-width: 1000px;
// 		margin: 1rem auto;
// 		background: rgba(238, 234, 234, 0.7);
// 	}

// 	#entry {
// 		display: grid;
// 		grid-template-columns: repeat(4, 1fr);
// 		align-items: center;
// 		gap: 1em;
// 		border: 1px solid #545454;
// 		border-radius: 3px;
// 		padding: 1.5rem;

// 		h2 {
// 			grid-area: 1 / 1 / span 3 / span 2;
// 		}

// 		form {
// 			grid-area: 1 / 3 / span 1 / span 2;
// 			border: none;
// 			padding: 0;
// 		}
// 	}

// 	#trip {
// 		display: grid;
// 		grid-template-columns: repeat(6, 1fr);
// 		grid-template-rows: 3rem 3rem 3rem 3rem 6rem 6rem;
// 		grid-column-gap: 0.5rem;
// 		border: 1px solid #545454;
// 		border-radius: 3px;
// 		padding: 1.5rem;

// 		#dest_img {
// 			grid-area: 1 / 1 / 4 / 4;

// 			img {
// 				width: 100%;
// 				max-height: 500px;
// 				object-fit: cover;
// 			}
// 		}

// 		#dest_countdown {
// 			grid-area: 1 / 4 / 2 / 7;
// 			display: flex;
// 			justify-content: flex-start;
// 		}

// 		#destination {
// 			grid-area: 2 / 4 / 3 / 7;
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;

// 			h3 {
// 				font-size: 1.5rem;
// 				font-weight: 400;
// 			}
// 		}

// 		#dest_date {
// 			grid-area: 3 / 4 / 4 / 7;
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;
// 		}

// 		#forecast {
// 			grid-area: 4 / 4 / 5 / 7;
// 			display: flex;
// 			justify-content: flex-start;
// 		}

// 		#dest_weather {
// 			grid-area: 5 / 4 / 7 / 7;
// 			display: flex;
// 			flex-flow: row nowrap;
// 			justify-content: space-between;
// 		}
// 	}
// }
