// FONT
$base-font: 'Roboto Slab', serif;
$default-font: 300 1rem $base-font;
$header-font: 800 2.5rem $base-font;

// COLOR
$key-color: rgb(247, 125, 25);
$bg-color: rgba(238, 234, 234, 0.8);

// RESPONSIVE BREAKPOINTS
$bp-largest: 75rem; // 1200px
$bp-large: 62rem; // 992px
$bp-medium: 44.5rem; // 712px;
$bp-small: 30rem; // 480px;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font: $default-font;
	background: center / cover no-repeat url(../media/bgimg.jpg) fixed;
}

.container {
	width: 90%;
	margin: 0 auto;
}

section {
	margin-bottom: 2rem;
}

img {
	// Responsive
	max-width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
}

ul {
	list-style: none;
}

.link {
	color: #000;
	text-decoration: none;

	&:hover {
		color: $key-color;
	}

	&:visited {
		text-decoration: none;
	}
}

.btn {
	font: $default-font;
	background: #fff;
	border: 1px solid #000;

	&:focus {
		outline: none;
	}

	&:active {
		background: $key-color;
		color: #fff;
	}
}
