.dest {
	&__meta {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 0.5rem;
		padding: 1rem;
		margin-bottom: 2rem;
		background: $bg-color;
	}

	&__city,
	&__date {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	&__weather {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 0.5rem;
	}

	&__3day {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
