.plan {
	background: $bg-color;

	&__heading {
		text-align: center;
		padding: 0 1rem;
	}

	&__form {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 1rem;
		padding: 1rem;
	}

	&__input {
		font: $default-font;

		&:focus {
			outline: none;
			border: 1px solid #000;
			background: $key-color;
			color: #fff;
		}
	}
}
