.trips {
	&__message {
		margin-bottom: 1rem;

		.loading {
			width: 100%;
			margin: 0 auto;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		grid-column-gap: 1rem;
		grid-row-gap: 3rem;
		justify-items: center;
		justify-content: start;
		align-items: stretch;
	}

	&__card {
		padding: 1rem;
		border: solid 1px #777;
		border-radius: 5px;
	}

	&__image {
		width: calc($bp-largest / 3);
	}

	&__meta {
		margin-bottom: 1rem;
	}

	&__weather {
		display: flex;
		justify-content: space-between;
	}

	&__forecast {
		text-align: center;

		&-icon {
			max-width: 4.75rem;
		}
	}
}

// .dest {
// 	&__card {
// 		background: $bg-color;
// 		margin-bottom: 2rem;

// 		@media only screen and (min-width: $bp-medium) {
// 			display: flex;
// 			align-items: center;
// 			justify-content: space-around;
// 		}
// 	}

// 	&__img {
// 		@media only screen and (min-width: $bp-medium) {
// 			padding-left: 1rem;
// 		}

// 		@media only screen and (min-width: $bp-large) {
// 			padding: 1rem;
// 			padding-right: 0rem;
// 		}
// 	}

// 	&__meta {
// 		display: grid;
// 		grid-template-columns: 1fr;
// 		row-gap: 0.5rem;
// 		padding: 1rem;

// 		@media only screen and (min-width: $bp-large) {
// 			row-gap: 1.5rem;
// 		}
// 	}

// 	&__city,
// 	&__date {
// 		display: flex;
// 		justify-content: space-between;
// 		flex-wrap: nowrap;
// 	}

// 	&__weather {
// 		display: grid;
// 		grid-template-columns: repeat(3, 1fr);
// 		column-gap: 0.5rem;
// 	}

// 	&__3day {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 	}
// }
