// TODO ok but need to refactor later (21. jun)

.trips {
	opacity: 0;
	padding: $pad-default;
	padding-bottom: 10vh;
	background: #fafafa;

	@media only screen and (min-width: $bp-small) {
		padding: $pad-small;
		padding-bottom: 10vh;
	}

	@media only screen and (min-width: $bp-medium) {
		padding: $pad-medium;
		padding-bottom: 10vh;
	}

	&__message {
		height: 10vh;
		display: flex;
		align-items: center;

		.loading {
			width: 100%;
			margin: 0 auto;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 1rem;

		@media only screen and (min-width: $bp-small) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 1rem;
			justify-items: center;
			justify-content: start;
			align-items: stretch;
		}

		@media only screen and (min-width: $bp-medium) {
			grid-template-columns: repeat(3, 1fr);
			column-gap: 1rem;
			justify-items: center;
			justify-content: start;
			align-items: stretch;
		}

		@media only screen and (min-width: $bp-largest) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__card {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		gap: 1rem;
		// border: solid 1px #777;
		border-radius: 5px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	&__image {
		img {
			width: 100%;
			height: 100%;
			border-radius: 5px 5px 0 0;
		}
	}

	&__content {
		padding: $pad-default;
	}

	&__meta {
		margin-bottom: 1rem;
		color: #de7a22;
	}

	&__weather {
		display: flex;
		justify-content: space-between;
		padding-top: 1rem;
	}

	&__forecast {
		text-align: center;

		&-icon {
			max-width: 4.75rem;
		}
	}

	&__edit {
		// padding: 1rem;
		// border-top: solid 1px rgba(99, 99, 99, 0.2);
		text-align: center;
	}

	&__btn {
		border-radius: 0 0 5px 5px;
	}
}

// .dest {
// 	&__card {
// 		background: $bg-color;
// 		margin-bottom: 2rem;

// 		@media only screen and (min-width: $bp-medium) {
// 			display: flex;
// 			align-items: center;
// 			justify-content: space-around;
// 		}
// 	}

// 	&__img {
// 		@media only screen and (min-width: $bp-medium) {
// 			padding-left: 1rem;
// 		}

// 		@media only screen and (min-width: $bp-large) {
// 			padding: 1rem;
// 			padding-right: 0rem;
// 		}
// 	}

// 	&__meta {
// 		display: grid;
// 		grid-template-columns: 1fr;
// 		row-gap: 0.5rem;
// 		padding: 1rem;

// 		@media only screen and (min-width: $bp-large) {
// 			row-gap: 1.5rem;
// 		}
// 	}

// 	&__city,
// 	&__date {
// 		display: flex;
// 		justify-content: space-between;
// 		flex-wrap: nowrap;
// 	}

// 	&__weather {
// 		display: grid;
// 		grid-template-columns: repeat(3, 1fr);
// 		column-gap: 0.5rem;
// 	}

// 	&__3day {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 	}
// }
